//Main Colours

$primary-color1 : hsl(180, 66%, 49%);
$primary-color2 : hsl(257, 27%, 26%);

//Secondary Color

$Red : hsl(0, 87%, 67%);

//Text colors

$bg-color : #f0f1f6;
$hover-color : hsl(257, 7%, 63%);

$text-color : hsl(255, 11%, 22%);
$Dark-blue :  hsl(260, 8%, 14%);


